# Created by .ignore support plugin (hsz.mobi)
/.idea
logs
transaction-logs
target/
.mvn/
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.classpath
.project
.settings

#logs
/logs/
/transaction-logs/
out
bin
.gradle
**/build/
!src/**/build/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache